<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerente - Histórico</title>
    <link rel="icon" href="/logo/icon/roxo.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="side-bar">
        <div class="logo-container">
            <img src="{{logoSrc}}" class="logo">
        </div>
        <div class="buttons-container">
            <ul class="buttons-list">
                <a href="#"><li>
                    Início
                </li></a>
                <a href="#">
                    <li>
                        Agenda
                    </li>
                </a>
                <a href="#">
                    <li class="selected">
                        Histórico
                    </li>
                </a>
                <a href="#">
                    <li>
                        Funcionários
                    </li>
                </a>
                <a href="ger-animais">
                    <li>
                        Animais
                    </li>
                </a>
                
               
            </ul>
        </div>
        <div class="tips-container">
            <div class="tip-container">
                <h2>Dica</h2>
                <p id="tip-text">{{tipText}}</p>
                <div>
                    <ul class="tip-buttons-container">
                        <li class={{selected[0]}}></li>
                        <li class={{selected[1]}}></li>
                        <li class={{selected[2]}}></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="top-content">
            <div class="left-container">
                <ul class="navigation-buttons-container">
                    <a href=""><li><img src="{{arrowSrc}}" alt="Arrow"></li></a>
                    <a href=""><li class="right"><img src="{{arrowSrc}}" alt="Arrow" class="rotate180"></li></a>
                </ul>
            </div>
            <div class="right-container">
                <h2>{{funcionario.Nome}} {{funcionario.Apelido}}</h2>
                <img src="{{doctorSrc}}" alt="Clinica">
            </div>
        </div>
        <div class="bottom-content">
            <div class="open-service-container" *ngIf="editAtivo==1">
                <form (ngSubmit)="updateServico($event)">
                    <label>
                        Data
                    </label>
                    <input type="datetime-local" [ngModel]="servicoEdit.DataServico" name="DataServico"><br>

                    <label>
                        Estado
                    </label>
                    <select [ngModel]="servicoEdit.Estado" name="Estado">
                        <option>Marcado</option>
                        <option>Cancelado</option>
                        <option>Concluido</option>
                        <option>Arquivado</option>
                    </select><br>
                    <button type="submit">Confirmar</button>
                    <button (click)="changeEditarStatus(0)">Cancelar</button>
                </form>
                
            </div>
            <div class="table-container">
                <table>
                    <tr class="table-header">
                        <th width="15%">Foto</th>
                        <th width="15%">Nome</th>
                        <th width="15%">Tipo</th>
                        <th width="15%">Data</th>
                        <th width="15%">Estado</th>
                        <th class="buttons-header" >
                            <input type="text" placeholder="Pesquisar" [(ngModel)]="filterText">
                        </th>
                    </tr>
                    <tr *ngFor="let servicos of servicos | filter:filterText" class="table-row">
                        <td class="td-img"><img src="{{animalSrc}}" alt="Animal"></td>
                        <td class="name">{{servicos.NomeAnimal}}</td>
                        <td>{{servicos.TipoServico}}</td>
                        <td>{{servicos.DataServico | date: 'dd/MM/yyyy, HH:mm'}}</td>
                        <td>{{servicos.Estado}}</td>
                        <td>
                            <button class="btn-call-to-action" (click)="editar(servicos)">
                                Editar
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script src="js/main-scripts.js"></script>
    <script src="js/tabela-filtro.js"></script>
</body>
</html>