.table-container{
  /* background-color: red;  */
  margin-left: 80px;
  margin-right: 80px;
  max-height: calc(100vh - 230px);
  overflow: auto;

}

/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

/* Width */
.table-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.table-container::-webkit-scrollbar-thumb {
  background: #5C2976;
  border-radius: 50px;
}

/* Handle on hover */
.table-container::-webkit-scrollbar-thumb:hover {
  background: #56276e;
}



.bottom-content table{
  /* background-color: blue; */
  width: 100%;

}

table{
  width: 100%;
  border-spacing: 0;
}

td, th{
  text-align: center;
  height: 40px;
}

/* th{
  position: sticky;
  top: 0;
} */





.table-container td img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.table-container .td-img{
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-container .buttons-header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;

}

.table-container button{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border: none;
  font-size: 16px;
  width: 120px;
  height: 25px;
  border-radius: 30px;
  cursor: pointer;
}


.table-container .btn-call-to-action{
  background-color: #5C2976;
  color: #fff;
  margin-left: 10px;
}

.table-container .btn-secondary{
  background-color: #fff;
  color: #5C2976;
  border: 2px solid #5C2976;
}

tr:not(.table-header):nth-child(even){
  background-color: #F1F1F1;
}

.table-header{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  outline: 1px solid #F1F1F1;
}

.table-header th{
  font-weight: 600;
}

input{
  border: 2px solid #5C2976;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 150px;
  height: 20px;
  padding: 0;
  padding-left: 10px;
  border-radius: 30px;

}

.open-service-container{
  position: fixed;
  width: 400px;
  height: 600px;
  background-color: rgb(223, 223, 223);
  border-radius: 30px;
  box-shadow: 5px 5px 8px #888888;
  /* tempo estava a apertar e precisava de uma solução rápida!*/
  left: 50%;
  transform: translate(-50%, 0);

}

body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

a{
  text-decoration: none;
  color: black;
}

/* side-bar relative! */

.side-bar{
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #f1f1f1;
  width: 250px;
}

.logo-container{
  /* background-color: red;  */
  width: 100%;
  height: 160px;
  display: flex;
}

.side-bar .logo{
  width: 110px;
  margin-left: 40px;
}

.buttons-container{
  /* background-color: blue; */
  width: 100%;
  height: calc(100% - 340px);
  align-items: center;
}

.buttons-list{
  list-style: none;
  font-weight: 600;
  padding: 0;
  /* background-color: gray;  */
}

.buttons-list li{
  margin-top: 20px;
  height: 40px;
  border-radius: 0px 10px 10px 0px;
  font-size: 18px;
  /* padding-left: 40px;
  padding-right: 60px; */
  width: 160px;
  padding-left: 40px;
  /* width: fit-content; */
  display: flex;
  align-items: center;
  cursor: pointer;
  /* background-color: red; */
}

.buttons-list .selected{
  background-color: #d9d9d9;
  color: #5C2976;
}

.tips-container{
  /* background-color: gray;  */
  width: 100%;
  height: 200px;
}

.tip-container{
  background-color: #5C2976;
  min-height: 150px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  overflow: auto;
}

.tip-container h2{
  display: block;
  position: relative;
  margin: 0;
  font-weight: 600;
  margin-left: 20px;
}

.tip-container p{
  margin: 0 !important;
  font-weight: 500;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.content{
  /* background-color: gray;  */
  margin-left: 250px;
  /* height: 100vh; */
}

.top-content{
  /* background-color: black; */
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.top-content .left-container{
  /* background-color: blue; */
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.top-content .right-container{
  /* background-color: blueviolet;  */
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.top-content .right-container h2{
  margin: 0;
  margin-right: 20px;
  font-weight: 600;
  font-size: 18px;
  cursor:pointer;
}

.top-content .right-container img{
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 80px;
  cursor: pointer;
}

.navigation-buttons-container{
  list-style: none;
  margin: 0;
  margin-left: 80px;
  padding: 0;
}

.navigation-buttons-container img {
  filter: invert(94%) sepia(6%) saturate(23%) hue-rotate(241deg) brightness(107%) contrast(106%);
  width: 35px;
  margin-top: 2px;
}

.rotate180{
  margin-left: 5px;
  transform: rotate(180deg);
}

.navigation-buttons-container li{
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #5C2976;
  border-radius: 50%;
  cursor: pointer;
}

.navigation-buttons-container .right{
  margin-left: 10px;
}



.bottom-content{
  /* background-color: gray; */
  width: 100%;
  /* height: calc(100vh - 200px); tirar */
}

.tip-buttons-container{
  list-style: none;
  width: calc(100% - 40px);
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0;
}

.tip-buttons-container li{
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: #fff;
  opacity: 30%;
  border-radius: 3px;
  transition: 0.5s all;
}

.tip-buttons-container li:not(:first-child){
  margin-left: 5px;
}

.tip-buttons-container .selected{
  opacity: 100%;
}


