<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="encomendas.component.css" rel="stylesheet"/>
    <title>User Historico</title>
</head>
<body>

    <div class ="section">
        <div class="top_navbar">
            <div class = "dropdown">
              <img src="../../assets/images/notifications.jpg" class = "notifications">
              <div class="dropdown-content-not" style="left:0;">
                  <div class = "tablenot">
                      <div class = "notrow" *ngFor="let notificacao of NotificacoesList" (click)="deleteNotificacao(notificacao)">
                          <a class = "nottext">{{notificacao.Descricao}}</a>
                          <a>{{ notificacao.DataNotificacao | date:"dd/MM/yy" }}</a>
                      </div>
                  </div>
              </div>
            </div>
            <div class ="topPerfil">
              <a>{{Cliente.Nome}} {{Cliente.Apelido}}</a>
              <div class = "dropdown" style="float:right;">
                  <img src="{{Cliente.ClienteFoto}}" class="perfil">
                  <div class="dropdown-content">
                      <a routerLink="/cliente/perfil">Editar Perfil</a>
                      <a routerLink="/cliente/pagamentos">Pagamentos</a>
                      <a routerLink="/cliente/encomendas">Encomendas</a>
                      <a routerLink="/cliente/ajudacliente">Ajuda</a>
                      <a routerLink="/cliente/login" (click)="logout()">Sair</a>
                  </div>
              </div>
          </div>
        </div>

        <div class = "tablesection">
            <div class = "filter">
                <input class = "filtertext" type="text" required/>
                <button class = "filterbutton" (click)="filter()">Filtro</button>
            </div>
            <table class = "table">
                <thead>
                    <tr>
                        <th>
                            ID da Encomenda
                        </th>
                        <th>
                            Valor
                        </th>
                        <th>
                            Data de encomenda
                        </th>
                        <th>
                            Estado da encomenda
                        </th>
                    </tr>
                </thead>
                <tbody class ="bodytable">
                    <tr *ngFor="let encomenda of EncomendasList" class ="lineTable">
                        <td>{{encomenda.IdEncomenda}}</td>
                        <td>{{encomenda.Nome}}</td>
                        <td>{{encomenda.precoTotal}} €</td>
                        <td>{{encomenda.Data | date:"dd/MM/yy"}}</td>
                        <td>{{encomenda.Estado}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="sidebar">
            <div>
                <a routerLink="/cliente">
                    <img src="../../assets/images/logo.svg" class="logo">
                </a>
                <ul>
                    <li>
                        <a routerLink="/cliente">
                            <span class="item">Início</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/cliente/geriranimais">
                            <span class="item">Gerir animais</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/cliente/servicos">
                            <span class="item">Serviços</span>
                        </a>
                    </li>
                    <li>
                      <a routerLink="/cliente/estabelecimentos">
                          <span class="item">Estabelecimentos</span>
                      </a>
                    </li>
                    <li>
                      <a routerLink="/cliente/loja">
                          <span class="item">Loja Online</span>
                      </a>
                    </li>
                </ul>
            </div>
            <div class="tips-container">
              <div class="tip-container">
                  <h2>Dica</h2>
                  <p id="tip-text">{{tipText}}</p>
                  <div>
                      <ul class="tip-buttons-container">
                      </ul>
                  </div>
              </div>
          </div>
        </div>

    </div>
</body>
</html>

