<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="gerir-animais-historico.component.css" rel="stylesheet"/>
    <title>User Historico</title>
</head>
<body>
    <div class ="section">
        <div class="top_navbar">
            <div class = "dropdown">
              <img src="assets/notifications.jpg" class = "notifications">
              <div class="dropdown-content-not" style="left:0;">
                <div class = "tablenot">
                    <div class = "notrow" *ngFor="let notificacao of NotificacoesList">
                        <a class = "nottext">{{notificacao.Descricao}}</a>
                        <a>{{notificacao.DataNotificacao| date:"dd/MM/yy"}}</a>
                    </div>
                </div>
              </div>
            </div>
            <div class ="topPerfil">
              <a>{{Cliente.Nome}} {{Cliente.Apelido}}</a>
              <div class = "dropdown" style="float:right;">
                  <img src="{{Cliente.ClienteFoto}}" class="perfil">
                  <div class="dropdown-content">
                      <a routerLink="/cliente" onclick="NaoFazParteDaMinhaParte()">Editar Perfil</a>
                      <a routerLink="/pagamentos">Pagamentos</a>
                      <a routerLink="/encomendas">Encomendas</a>
                      <a routerLink="/ajuda">Ajuda</a>
                      <a routerLink="/cliente" onclick="NaoFazParteDaMinhaParte()">Sair</a>
                  </div>
              </div>
            </div>
        </div>

        <div class ="animalselected">
            <img *ngIf="check == 0" src="{{SelectedAnimal.AnimalFoto}}" class="logolistanimal selected" style="opacity:0">
            <a *ngIf="check == 0" class ="nameselected" style="opacity:0">{{SelectedAnimal.Nome}}</a>
        </div>
        <div class ="animalselected">
          <img *ngIf="check == 1" src="{{SelectedAnimal.AnimalFoto}}" class="logolistanimal selected" style="opacity:1">
          <a *ngIf="check == 1" class ="nameselected" style="opacity:1">{{SelectedAnimal.Nome}}</a>
      </div>

        <div class ="box">
              <div class="container listadoEdit listedAnimals">
                <div *ngFor="let animal of AnimaisList" class = "listanimais" (click)="selectAnimal(animal); listaServicosAnimal() ">
                  <img src={{animal.AnimalFoto}} class="logolistanimal">
                  <p class ="pa">{{animal.Nome}}</p>
                </div>
              </div>

              <div *ngIf="check == 0" class="container listadoEdit" style="opacity:0">
                <div class = "infoanimal">
                    <div class="infologo">
                        <img src="{{SelectedAnimal.AnimalFoto}}" class="logoanimalinfo">
                        <img src="assets/edit.svg" class="iconedit">
                    </div>
                    <div>
                        
                    </div>

                </div>
              </div>
              <div *ngIf="check == 1" class="container listadoEdit" style="opacity:1">
                <div *ngFor="let servico of ListServicos" class = "infoanimal">
                   <a>
                    {{servico.Tipo}} 
                   </a>
                   <div >
                       <a>
                           Funcionario:
                       </a>
                       <a>
                           {{servico.Nome}}
                       </a>
                   </div>
                   <div >
                    <a>
                        Preço:
                    </a>
                    <a>
                        {{servico.Preco}}
                    </a>
                    </div>
                    <div >
                        <a>
                            Data:
                        </a>
                        <a>
                            {{servico.DataServico | date:'dd/MM/yyyy'}}
                        </a>
                    </div>
                    <div >
                        <a>
                            Estado:
                        </a>
                        <a>
                            {{servico.Estado}}
                        </a>
                    </div>
                    <div >
                        <a>
                            Descrição:
                        </a>
                        <a>
                            {{servico.Descricao}}
                        </a>
                    </div>

                </div>
              </div>
            <div class="listadoEdit">
                <ul>
                    <li>
                        <div class="sideItem">
                            <a routerLink="/geriranimais"><span>Dados</span></a>
                        </div>
                    </li>
                    <li>
                        <div class="sideItem" onclick="NaoFazParteDaMinhaParte()">
                            <a routerLink="/geriranimais"><span>Boletim</span></a>
                        </div>
                    </li>
                    <li>
                        <div class="sideItem" onclick="NaoFazParteDaMinhaParte()">
                            <a routerLink="/geriranimais"><span>Lembrete</span></a>
                        </div>
                    </li>
                    <li>
                        <div class="sideItem active" onclick="NaoFazParteDaMinhaParte()">
                            <a routerLink="/geriranimais"><span>Histórico</span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <div>
            <a routerLink="../cliente">
                <img src="assets/logo.svg" class="logo">
            </a>
            <ul>
                <li>
                    <a routerLink="../cliente">
                        <span class="item">Início</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/geriranimais">
                        <span class="item">Gerir animais</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/geriranimais" onclick="NaoFazParteDaMinhaParte()">
                        <span class="item">Serviços</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tips-container">
          <div class="tip-container">
              <h2>Dica</h2>
              <p id="tip-text">{{tipText}}</p>
              <div>
                  <ul class="tip-buttons-container">
                  </ul>
              </div>
          </div>
      </div>
    </div>
</body>
</html>
<router-outlet></router-outlet>
