<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinário - Prescrições</title>
    <link rel="icon" href="/logo/icon/roxo.svg" />
    
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="side-bar">
        <div class="logo-container">
            <img src="{{logoSrc}}" class="logo">
        </div>
        <div class="buttons-container">
            <ul class="buttons-list">
                <a href="vet-portal"><li>
                    Início
                </li></a>
                <a href="">
                    <li>
                        Agenda
                    </li>
                </a>
                <a href="vet-animais">
                    <li>
                        Animais
                    </li>
                </a>
                <a href="">
                    <li class="selected">
                        Prescrições
                    </li>
                </a>
                
               
            </ul>
        </div>
        <div class="tips-container">
            <div class="tip-container">
                <h2>Dica</h2>
                <p id="tip-text">{{tipText}}</p>
                <div>
                    <ul class="tip-buttons-container">
                        <li class={{selected[0]}}></li>
                        <li class={{selected[1]}}></li>
                        <li class={{selected[2]}}></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="top-content">
            <div class="left-container">
                <ul class="navigation-buttons-container">
                    <a href=""><li><img src="{{arrowSrc}}" alt="Arrow"></li></a>
                    <a href=""><li class="right"><img src="{{arrowSrc}}" alt="Arrow" class="rotate180"></li></a>
                </ul>
            </div>
            <div class="right-container">
                <h2>Dr. {{veterinario.Nome}} {{veterinario.Apelido}}</h2>
                <img src="{{doctorSrc}}" alt="Doctor">
            </div>
        </div>
        <div class="bottom-content">
            <div class="table-container">
                <table>
                    <tr class="table-header">
                        <th width="13%">Tipo</th>
                        <th width="13%">Nome</th>
                        <th width="13%">Quantidade</th>
                        <th width="13%">Prazo</th>
                        <th width="13%">Cliente</th>
                        <th width="13%">Clínica</th>
                        <th class="buttons-header" >
                            <input type="text" placeholder="Pesquisar" [(ngModel)]="filterText">
                            <button class="btn-call-to-action">Filtro</button>
                        </th>
                    </tr>
                    <tr *ngFor="let prescricoes of prescricoes | filter:filterText" class="table-row">
                        <td>{{prescricoes.Tipo}}</td>
                        <td>{{prescricoes.NomeMedicamento}}</td>
                        <td>{{prescricoes.QuantidadeStock}}</td>
                        <td>{{prescricoes.DataExpiracao}}</td>
                        <td>{{prescricoes.NomeCliente}}</td>
                        <td>{{prescricoes.NomeEstabelecimento}}</td>
                        <td></td>
                    </tr>
                    

                </table>
            </div>
        </div>
    </div>
</body>
</html>
