<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="cliente.component.css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <div class ="section">
        <div class="lembretemodal">
            <div class ="buttonsModal">
                <button class ="continuarBtn">Continuar</button>
            </div>
        </div>
        <div class="top_navbar">
          <div class = "dropdown">
            <img src="../../assets/images/notifications.jpg" class = "notifications">
            <div class="dropdown-content-not" style="left:0;">
              <div *ngIf="NotificacoesList.length <= 0">
                <div class = "notrow">
                  <a class = "nottext">Não tem notificações</a>
                </div>
              </div>
              <div *ngIf="NotificacoesList.length > 0">
                <div class = "tablenot">
                  <div class = "notrow2" *ngFor="let notificacao of NotificacoesList" (click)="selectNot(notificacao)">
                      <div class = "notrow">
                        <a class = "nottext">{{notificacao.Descricao}}</a>
                        <a>{{ notificacao.DataNotificacao | date:"dd/MM/yy" }}</a>
                      </div>
                      <div class = "notrowButtons">
                        <button class="apagarNot" (click)="deleteNotificacao(notificacao)"> X </button>
                        <button class="verNot" (click)="showDetailsNot()"> Ver </button>
                      </div>
                  </div>
              </div>
              </div>
            </div>
        </div>
            <div class ="topPerfil">
                <a>{{Cliente.Nome}} {{Cliente.Apelido}}</a>
                <div class = "dropdown" style="float:right;">
                    <img src="{{Cliente.ClienteFoto}}" class="perfil">
                    <div class="dropdown-content">
                        <a routerLink="/cliente/perfil">Editar Perfil</a>
                        <a routerLink="/cliente/pagamentos">Pagamentos</a>
                        <a routerLink="/cliente/encomendas">Encomendas</a>
                        <a routerLink="/cliente/ajudacliente">Ajuda</a>
                        <a routerLink="/cliente/login" (click)="logout()">Sair</a>
                    </div>
                </div>
            </div>
        </div>

        <div class = "box">

          <div class="popupNotDetails" *ngIf="showDetails == 1">
            <div>
              <a>Descrição: </a>
              <a>{{notDetail.Descricao}}</a>
            </div>
            <div>
              <a>Data: </a>
              <a>{{notDetail.DataNotificacao | date : 'dd/MM/yyyy'}}</a>
            </div>
            <div>
              <a>Hora de Notificação: </a>
              <a>{{notDetail.DataNotificacao | date : 'HH:mm'}}</a>
            </div>
            <button class="lembrete" style="width: 30%;align-self:center;margin-top: 20px" (click)="tiraDetails()">Confirmar</button>
          </div>

            <div class = "superiorcontainer">
                <div id = "animais" class="container listado animais">
                    <div *ngFor="let Animal of AnimaisList" class = "listanimais"  routerLink="/cliente/geriranimais">
                        <img src={{Animal.AnimalFoto}} class="logolistanimal">
                        <p class ="pa">{{Animal.Nome}}</p>
                    </div>
                </div>
            </div>
            <div class = "container">
                <div *ngIf="NextServico" class = "lastlembrete">
                    <div>
                        <h3 style="font-size: 40px;">{{NextServico.DataServico | date:'dd'}}</h3>
                        <h3>{{NextServico.DataServico | date:'MMMM'}}</h3>
                    </div>
                    <div>
                        <img src="{{NextServico.AnimalFoto}}">
                        <p class = "pa2">{{NextServico.Descricao}}</p>
                    </div>
                </div>

                <div class = "middlebuttons">
                    <button class="lembrete" routerLink="/cliente/lembretes">Lembretes</button>
                </div>

                <div class = "tips">
                    <div class = "plano">
                        <h4>Plano Premium</h4>
                        O plano premium oferece imensas vantagens.
                        <p> Desde descontos a adicionar animais ilimitados.</p>
                        <p class="selectoption"><a routerLink="/cliente/perfil">Aderir</a></p>
                    </div>

                    <div class = "plano">
                        <h4>Edite o seu perfil</h4>
                        Edite aqui o seu perfil
                        <p class="selectoption"><a routerLink="/cliente/perfil">Editar</a></p>
                    </div>
                </div>
            </div>

            <div class = "container listado lembretes">
                <div *ngFor="let lembrete of LembretesList" class = "listlembrete">
                    <div class = "listlembretetext">
                        <a>{{ lembrete.HoraLembrete }} - {{lembrete.LembreteDescricao}}</a>
                        <p>{{ lembrete.DataLembrete | date:"dd/MM/yy" }} - {{lembrete.Nome}}</p>
                    </div>
                   <button class = "lembretebtnlist" (click)="deleteLembrete(lembrete)">Remover</button>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <div>
            <a routerLink="/cliente">
                <img src="../../assets/images/logo.svg" class="logo">
            </a>
            <ul>
                <li>
                    <a routerLink="/cliente" class="active">
                        <span>Início</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/cliente/geriranimais">
                        <span>Gerir animais</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/cliente/servicos">
                        <span>Serviços</span>
                    </a>
                </li>
                <li>
                  <a routerLink="/cliente/estabelecimentos">
                      <span class="item">Estabelecimentos</span>
                  </a>
                </li>
                <li>
                  <a routerLink="/cliente/loja">
                      <span class="item">Loja Online</span>
                  </a>
                </li>
            </ul>
        </div>
        <div class="tips-container">
            <div class="tip-container">
                <h2>Dica</h2>
                <p id="tip-text">{{tipText}}</p>
                <div>
                    <ul class="tip-buttons-container">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<router-outlet></router-outlet>
