<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="historico-servicos.component.css" rel="stylesheet"/>
  <title>Historico-Servicos</title>
</head>
<body>
  <div class ="section">
    <div class="top_navbar">
        <div class = "dropdown">
          <img src="../../assets/images/notifications.jpg" class = "notifications">
          <div class="dropdown-content-not" style="left:0;">
              <div class = "tablenot">
                  <div class = "notrow" *ngFor="let notificacao of NotificacoesList" (click)="deleteNotificacao(notificacao)">
                      <a class = "nottext">{{notificacao.Descricao}}</a>
                      <a>{{ notificacao.DataNotificacao | date:"dd/MM/yy" }}</a>
                  </div>
              </div>
          </div>
      </div>
        <div class ="topPerfil">
          <a>{{Cliente.Nome}} {{Cliente.Apelido}}</a>
          <div class = "dropdown" style="float:right;">
              <img src="{{Cliente.ClienteFoto}}" class="perfil">
              <div class="dropdown-content">
                  <a routerLink="/cliente/perfil">Editar Perfil</a>
                  <a routerLink="/cliente/pagamentos">Pagamentos</a>
                  <a routerLink="/cliente/encomendas">Encomendas</a>
                  <a routerLink="/cliente/ajudacliente">Ajuda</a>
                  <a routerLink="/cliente/login" (click)="logout()">Sair</a>
              </div>
          </div>
        </div>
    </div>

    <div class ="animalselected">
        <img *ngIf="check == 0" src="{{SelectedAnimal.AnimalFoto}}" class="logolistanimal selected" style="opacity:0">
        <a *ngIf="check == 0" class ="nameselected" style="opacity:0">{{SelectedAnimal.Nome}}</a>
    </div>
    <div class ="animalselected">
      <img *ngIf="check == 1" src="{{SelectedAnimal.AnimalFoto}}" class="logolistanimal selected" style="opacity:1">
      <a *ngIf="check == 1" class ="nameselected" style="opacity:1">{{SelectedAnimal.Nome}}</a>
  </div>

    <div class ="box">
          <div class="container listadoEdit listedAnimals">
            <div *ngFor="let animal of AnimaisList" class = "listanimais" (click)="selectAnimal(animal); listaServicosAnimal() ">
              <img src={{animal.AnimalFoto}} class="logolistanimal">
              <p class ="pa">{{animal.Nome}}</p>
            </div>
          </div>

          <div *ngIf="check == 0" class="container listadoEdit" style="opacity:0">
            <div class = "infoanimal">
                <div class="infologo">
                    <img src="{{SelectedAnimal.AnimalFoto}}" class="logoanimalinfo">
                </div>
                <div>

                </div>

            </div>
          </div>
          <div *ngIf="check == 1 && ListServicos.length > 0" class="container listadoEdit listServicos" style="opacity:1">
            <div *ngFor="let servico of ListServicos" class = "infoanimal">
               <a>
                {{servico.Tipo}}
               </a>
               <div >
                   <a>
                       Funcionario:
                   </a>
                   <a>
                       {{servico.NomeFunc}}
                   </a>
               </div>
               <div >
                <a>
                    Preço:
                </a>
                <a>
                    {{servico.Preco}} €
                </a>
                </div>
                <div >
                    <a>
                        Data:
                    </a>
                    <a>
                        {{servico.DataServico | date:'dd/MM/yyyy'}}
                    </a>
                </div>
                <div >
                    <a>
                        Estado:
                    </a>
                    <a>
                        {{servico.Estado}}
                    </a>
                </div>
                <div >
                    <a>
                        Descrição:
                    </a>
                    <a>
                        {{servico.Descricao}}
                    </a>
                </div>
                <div class="btnInfoSection">
                  <input type="button" class="buttonService" value="Cancelar" (click)="CancelaServico(servico)">
                  <input type="button" class="buttonService" value="Remarcar" (click)="EnableReschedule(servico)">
                </div>
            </div>
          </div>
          <div *ngIf="check == 1 && ListServicos.length == 0" class="container listadoEdit" style="opacity:1">
            <div style="font-weight:bold;font-size:20px;color:#5C2976"> Este animal não tem nenhum serviço registado </div>
          </div>
        <div class="listadoEdit">
            <ul>
                <li>
                    <div class="sideItem">
                        <a routerLink="/cliente/geriranimais"><span>Dados</span></a>
                    </div>
                </li>
                <li>
                    <div class="sideItem">
                        <a routerLink="/cliente/lembretes"><span>Lembrete</span></a>
                    </div>
                </li>
                <li>
                    <div class="sideItem active">
                        <a routerLink="/cliente/historicoservicos"><span>Histórico</span></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="sidebar">
    <div>
        <a routerLink="/cliente">
            <img src="../../assets/images/logo.svg" class="logo">
        </a>
        <ul>
            <li>
                <a routerLink="/cliente">
                    <span class="item">Início</span>
                </a>
            </li>
            <li>
                <a routerLink="/cliente/geriranimais" class="active">
                    <span class="item">Gerir animais</span>
                </a>
            </li>
            <li>
                <a routerLink="/cliente/servicos" >
                    <span class="item">Serviços</span>
                </a>
            </li>
            <li>
              <a routerLink="/cliente/estabelecimentos" >
                  <span class="item">Estabelecimentos</span>
              </a>
            </li>
            <li>
              <a routerLink="/cliente/loja" >
                  <span class="item">Loja Online</span>
              </a>
            </li>
        </ul>
    </div>
    <div class="tips-container">
      <div class="tip-container">
          <h2>Dica</h2>
          <p id="tip-text">{{tipText}}</p>
          <div>
              <ul class="tip-buttons-container">
              </ul>
          </div>
      </div>
  </div>
</div>
<div *ngIf="canRemarcar == 1" class="caixaRemark">
  <div class="remarcar">
    <div class="remarcar-content-div">
        <a class="novaData">Nova data: </a>
        <input type="datetime-local" [(ngModel)]="ServicoRemarcar.DataServico" (change)="CheckData()" style="display: block;">
        <input  type="submit" value="Cancelar" (click)="Cancel()" style="display: block;" class="buttonService">
        <input *ngIf="remarcarbtn==1" type="submit" value="Remarcar" (click)="RescheduleService()" style="display: block;" class="buttonService">
    </div>

    
  </div>
</div>
</body>
</html>
